<ion-content>

  <p style="text-align: center;"><strong>¡Hola!</strong></p>
  <p  style="text-align: center;">Para iniciar tu registro necesitas a la mano</p>
  <ul>

    <li> Credencial del Elector\n(INE Original)</li>
    <li> Comprobante de domicilio </li>
    <li> Dirección de correo electrónico </li>
    <li> Número de teléfono </li>
    
    </ul>
  <br>
  <ion-row>
    <ion-col size="12">
      <ion-button (click)="apecept()" type="submit" expand="block" color="primary"  shape="round">
        Aceptar
      </ion-button>
    </ion-col>
  </ion-row>
</ion-content>