<ion-content>
  <div id="container"  class="ion-padding">
  <p><strong>Antes de comenzar</strong></p>
  <p>¿Permites que 
    CONSEJO DE ASISTENCIA 
    AL MICROEMPRENDEDOR S.A. 
    DE C.V., S.F.P. a través de 
    la App techreo tenga 
    acceso a la ubicación de 
    tu dispositivo cada vez 
    que inicies sesión en 
    tu cuenta/sesión electrónica?</p>
    <br>
    <ion-row>
      <ion-col size="12">
        <ion-button (click)="apecept()" type="submit" expand="block" color="primary"  shape="round">
          Aceptar
        </ion-button>
      </ion-col>
      <ion-col size="12">
        <ion-button (click)="cancel()" type="submit" expand="block" color="dark"  shape="round">
          Cancelar
        </ion-button>
        
      </ion-col>
    </ion-row>
  </div>
   
    
</ion-content>
