<ion-content  >

  <div  id="container" class="ion-padding">
    <p class="green">¡Ups!</p>
    <br>
    <img style="width: 25%;" src="assets/svg/dislikeHand.svg">
    <p>Revisa la información seleccionada para poder continuar con tu registro</p>
    <ion-list>
      <br>
      <ion-row>
        <ion-col size="12"class="finalButtons">
          <ion-button (click)="ok()" type="submit" expand="block" color="primary"  shape="round">
            Aceptar
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-list>
  </div>
</ion-content>