<ion-content *ngIf="!step">
    <div style="float: right; padding: 10px; font-size: 30px; ">
        <ion-icon (click)="cancel()" style="cursor: pointer;" name="close-outline"></ion-icon>
    </div>
    <br><br>
    <div id="container" class="ion-padding">
        <p class="green">Actualizada</p>
        <p>Contraseña se cambió con éxito. </p>
        <img style="width:50px" src="assets/svg/likeHand.svg">
        <ion-list>
            <br>
            <ion-row>
                <ion-col size="12" class="finalButtons">
                    <ion-button (click)="cancel()" type="submit" expand="block" color="warning" (click)="send()" shape="round">
                        Continuar
                    </ion-button>
                </ion-col>
            </ion-row>
        </ion-list>
    </div>
</ion-content>